COMPOSE_PROJECT_NAME=stayhub

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_DB=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=keycloak

POSTGRES_USER=stayhub
POSTGRES_PASSWORD=stayhub

